<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L.A.M.A Medellin</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments/sidebar :: .sidebar}"></div> <!-- Incluir el Sidebar -->
<div class="content">
    <h1>Listado de Asistencia</h1>
    <a th:href="@{/asistencia/nuevo}">Añadir Asistencia</a>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Evento</th>
            <th>Miembro</th>
            <th>Asistio en Moto</th>
            <th>Kilometraje</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="asistencia : ${asistencias}">
            <td th:text="${asistencia.evento.id}"></td>
            <td th:text="${asistencia.evento.descripcion}"></td>
            <td>
                <span th:text="${asistencia.miembro.nombre}"></span>
                <a th:href="@{/asistencia/miembro/{miembroId}(miembroId=${asistencia.miembro.id})}">Ver</a>
            </td>
            <td th:text="${asistencia.asistencia_moto ? 'Sí' : 'No'}"></td>
            <td th:text="${asistencia.kilometraje}"></td>
            <td>
                <a th:href="@{/asistencia/evento/{eventoId}(eventoId=${asistencia.evento.id})}">Ver</a>
                <a th:href="@{/asistencia/editar/{id}(id=${asistencia.id})}">Editar</a>
                <a th:href="@{/asistencia/eliminar/{id}(id=${asistencia.id})}"
                   onclick="return confirm('¿Estás seguro?');">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/asistencia}">Volver a Asistencias</a>
</div>
</body>
</html>
