<!-- templates/fragments/sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener estilos -->
</head>
<body>
<div class="sidebar">
  <h2>Menú</h2>
  <ul>
    <li><a th:href="@{/}">Inicio</a></li>
    <li><a th:href="@{/eventos}">Eventos</a></li>
    <li><a th:href="@{/miembros}">Miembros</a></li>
    <li><a th:href="@{/acompanantes}">Acompañantes</a></li>
    <li><a th:href="@{/asistencias}">Asistencias</a></li>
  </ul>
</div>
</html>
