<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Gestión de Miembros y Eventos</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/miembros}">Miembros</a></li>
            <li><a th:href="@{/eventos}">Eventos</a></li>
        </ul>
    </nav>
</header>

<main>
    <section th:insert="~{::content}"></section>
</main>

<footer>
    <p>© 2025 Hackathon ITM</p>
</footer>
</body>
</html>
