<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>L.A.M.A Medellin</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments/sidebar :: .sidebar}"></div> <!-- Incluir el Sidebar -->
<div class="content">
    <h1 th:text="${asistenciaAcompanante.id == null ? 'Nueva Asistencia Acompañante' : 'Editar Asistencia Acompañante'}"></h1>
    <form th:action="@{/acompanante/asistencia}" th:object="${asistenciaAcompanante}" method="post">
        <input type="hidden" th:if="${asistenciaAcompanante.id != null}" name="id" th:value="${asistenciaAcompanante.id}">
        <label for="evento_id">Evento ID:</label>
        <input type="number" id="evento_id" name="evento_id" th:field="*{evento.id}" required>
        <label for="acompanante_id">Acompañante ID:</label>
        <input type="number" id="acompanante_id" name="acompanante_id" th:field="*{acompanante.id}" required>
        <label for="asistencia_moto">Asistencia en Moto:</label>
        <select id="asistencia_moto" name="asistencia_moto" th:field="*{asistencia_moto}" required>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
        <label for="kilometraje">Kilometraje:</label>
        <input type="number" id="kilometraje" name="kilometraje" th:field="*{kilometraje}" required>
        <button type="submit">Guardar</button>
    </form>
    <br>
    <a href="/acompanante/asistencia">Volver a Asistencias</a>
</div>
</body>
</html>