<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>L.A.M.A Medellin</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments/sidebar :: .sidebar}"></div> <!-- Incluir el Sidebar -->
<div class="content">
    <h1 th:text="${asistenciaAcompanante.id == null ? 'Nueva Asistencia Acompañante' : 'Editar Asistencia Acompañante'}"></h1>
    <form th:action="@{/acompanante/asistencia}" th:object="${asistenciaAcompanante}" method="post">
        <input type="hidden" th:if="${asistenciaAcompanante.id != null}" name="id" th:value="${asistenciaAcompanante.id}">
        <label for="evento">Evento:</label>
        <select id="evento" th:field="*{evento.id}">
            <option th:each="evento : ${eventos}" th:value="${evento.id}"
                    th:text="${evento.descripcion}"
                    th:selected="${evento.id == asistenciaAcompanante.evento.id}"></option>
        </select>
        <label for="acompanante">Acompañante:</label>
        <select id="acompanante" th:field="*{acompanante.id}">
            <option th:each="acompanante : ${acompanantes}" th:value="${acompanante.id}"
                    th:text="${acompanante.nombre}"
                    th:selected="${acompanante.id == asistenciaAcompanante.acompanante.id}"></option>
        </select>
        <label for="asistencia_moto">Asistencia en Moto:</label>
        <select id="asistencia_moto" name="asistencia_moto" th:field="*{asistencia_moto}" required>
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
        <label for="kilometraje">Kilometraje:</label>
        <input type="number" id="kilometraje" name="kilometraje" th:field="*{kilometraje}" required>
        <button type="submit">Guardar</button>
    </form>
    <br>
    <a href="/acompanante/asistencia">Volver a Asistencias</a>
</div>
</body>
</html>