<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L.A.M.A Medellin</title>
</head>
<body>
<h1>Formulario Nuevo Miembro</h1>
<form th:action="@{/miembros}" th:object="${miembro}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required/>
    <label>Tipo:</label>
    <div>
        <input type="radio" th:field="*{tipo}" value="Admin" id="tipoAdmin" required/>
        <label for="tipoAdmin">Admin</label>
        <input type="radio" th:field="*{tipo}" value="Member" id="tipoMember" required/>
        <label for="tipoMember">Member</label>
        <input type="radio" th:field="*{tipo}" value="Prospect" id="tipoProspect" required/>
        <label for="tipoProspect">Prospect</label>
        <input type="radio" th:field="*{tipo}" value="Dama" id="tipoDama" required/>
        <label for="tipoDama">Dama</label>
    </div>
    <button type="submit">Guardar</button>
</form>
<a href="/miembros">Volver a la lista</a>
</body>
</html>
