<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>L.A.M.A Medellin</title>
</head>
<body>
<h1>Lista de Miembros</h1>
<a href="/miembros/nuevo">Añadir Miembro</a>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Rol</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Descripcion</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="miembro : ${miembros}">
        <td th:text="${miembro.id}"></td>
        <td th:text="${miembro.rol}"></td>
        <td th:text="${miembro.nombre}"></td>
        <td th:text="${miembro.tipo}"></td>
        <td th:text="${miembro.descripcion}"></td> <!-- Mostrar la descripción aquí -->
        <td>
            <a th:href="@{/miembros/editar/{id}(id=${miembro.id})}">Editar</a>
            <a th:href="@{/miembros/eliminar/{id}(id=${miembro.id})}" onclick="return confirm('¿Estás seguro?');">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
